

extends layout.pug

block content

  article.portfolio-intro

    h1 GitHub Repositories 
    p Hi there! Here you'll find the projects I've worked on during my Threehouse Techdegree journey. 

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell
        
          a(href=`/data.json/id ${project.id}`)
            img.thumbnail(src=`${project.image_urls[2]}`, alt='Snapshot of project')
            h5 #{project.project_name}